@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@300&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Los datos que están dentro de html{} se guardan para todo el archivo. Se los puede llamar utilizando var(--color-rpincipal).

ej:
body {
    background-color: var(--color-terciario)
}

*/
html {
    --color-principal   : #98D279;
    --color-secundario  : #6D9933;
    --color-terciario   : #FEFBFC;
    --color-detalles    : #D7B088;

    --fuente-principal  : 'Lora', serif;
    --fuente-secundaria : 'Fira Sans', sans-serif;
    --fuente-detalle    : 'Dancing Script', cursive;
}