*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --color-principal   : #98D279;
  --color-secundario  : #6D9933;
  --color-terciario   : #FEFBFC;
  --color-detalles    : #D7B088;

  --fuente-principal  : 'Lora', serif;
  --fuente-secundaria : 'Fira Sans', sans-serif;
  --fuente-detalle    : 'Dancing Script', cursive;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.no-display {
  display: none;
}

body {
  font-family: "Lora", serif, "Fira Sans", sans-serif;
  background-color: var(--color-terciario);
  margin: 0;
  font-size: 1em;
  width: 100%;
  height: auto;
  min-width: fit-content;
}

main {
  margin: 0 auto;
  max-width: 1400px;
  background: var(--color-terciario);
}

.main-index h2, .main-index .leyenda, .main-index .titulo-productos-destacados {
  margin: 10px;
}

img.decoracion-top-index-main {
  width: 100%;
  padding: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}
.flex-container > div {
  align-items: center;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  flex-flow: row;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
  grid-auto-rows: minmax(200px, auto);
}

h2{
  padding-bottom: 14px;
}
.mainHome {
  padding: 30px;
  margin-top: 10px;
}

.mainHome h3{
  padding: 30px;
  margin: 15px;
}
.mainHome h2{padding: 30px;}

.epigraf{
  text-align: center;
}

.mainNosotros{
  padding: 30px;
}

.image{
  max-width: 100%;
  padding: 30px;
}
.text{
  padding:30px;
}


.equipo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.llamenos-contacto span{
  font-weight: bolder;
}

.card2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: "Lora", serif, "Fira Sans", sans-serif;
  background-color: var(--color-terciario);
  border-radius: 20px;
  margin-bottom: 15px;
}

.card2 img {
  width: 100%;
}

/*Contacto form */
.form-style {
  margin: 10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lora", serif, "Fira Sans", sans-serif;
}

.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style .required {
  color: red;
}
.form-style input[type="submit"],
.form-style input[type="reset"] {
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: var(--color-terciario);
}
.form-style input[type="submit"]:hover,
.form-style input[type="reset"]:hover {
  background: #4eb5f1;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style .field-textarea {
  height: 100px;
}
.form-style input[type="text"],
.form-style input[type="email"],
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style .long {
  width: 100%;
}
.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style textarea:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
}

.productos {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

#filtro-productos {
  margin: 15px;
}

/*Tarjeta de Producto */
.tarjeta-de-producto {
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
  margin: 6em auto;
}
/*Detalles producto  */
.detalles-producto {
  position: relative;
  text-align: left;

  width: 600px;
  padding: 30px;
  margin: 0 auto;
  background-color: var(--color-principal);
  box-shadow: 4px 5px 15px 0px rgb(0 0 0 / 75%);

  border-radius: 25px;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-gap: 10px;
}

.detalles-producto .descripcion-producto {
  font-size: small;
  margin-top: 14px;
}

.detalles-producto .contenedor-textos-card {
  grid-column: 1/2;
  grid-row: 1/2;
}

.detalles-producto .precio {
  grid-column: 1/2;
  grid-row: 2/-1;
  height: 37px;
  align-self: self-end;
  margin-bottom: 20px;
}

.detalles-producto img {
  grid-column: 2/-1;
  grid-row: 1/-1;
  margin: 0 auto;
  width: 100%;
  border-radius: 25px;
}


/* 	Nombre del producto */
.tarjeta-de-producto .detalles-producto h3 {
  font-family: var(--fuente-principal);
  position: relative;
  font-size: 1.4em;
  color: #000;
  margin: 0;
}

/* Info del producto */
.tarjeta-de-producto .detalles-producto > p {
  font-family: var(--fuente-principal);
  text-align: center;
  font-size: 1em;
  color: black;
}

.precio {
  font-family: var(--fuente-secundaria);
  padding: 10px 10px;
  font-size: 1em;
  text-align: center;
  bottom: 0;
  background-color: #fefbfc;
  border-radius: 30px;
}

/* Imagen del producto */
.imagen-producto-tarjeta {
  display: inline-block;
  position: relative;
}

.nota-al-pie {
  text-align: center;
  margin: 20px;
}

@media only screen and (max-width: 1417px) {
  .main-index {
    max-width: 98vw;
  }
}

@media only screen and (max-width: 849px) {
  html {
    font-size: 14px;
  }

  .detalles-producto {
    display: flex;
    flex-direction: column;
    max-width: 290px;
  }

  .precio {
    order: 1;
    align-self: stretch;
    width: 189px;
    margin: 0 auto;
  }

  .detalles-producto .contenedor-textos-card .descripcion-producto {
    display: none;
  }
}